
.container {
  color: rgb(0, 0, 0);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: #ffbc11;
}

/* selected link */
a:active {
  color: blue;
}


::selection {
  background: #00ffea;
}



.top-bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
  color: #000;
}

.top_text{
  font-size: larger;
}

.navigation--link{
  color: #000;
}

.navigation-main{
  font-size: larger;
  font-weight: bold;
}

.register-button{
  display: contents;
  color: #ff0000;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hfLogo{
  background-image: url('../images/honigfinder_logo.jpg'); 
  background-size: contain;
  background-repeat: no-repeat;
  overflow: auto;
  height: 100px;
  width: 100px;
}

.container-center{
  display: flex;
}

button.loginbutton{
  background-color: #ffbc11;
  color: #000;
  border-color: #000000;
  font-size: larger;
}

.btn{
  width: 100%;
  background-color: #ffbc11;
}

input,
select,
textarea {
  background-color: #272D35;
  border: 0px solid white;
  color: #d4d4d4;
  height:45px;
}

input:focus,
select:focus,
textarea:focus {
  background-color: rgb(47, 55, 66);
  border: 0px solid white;
  color: #FFF;
}


.background{
  background-image: url('../images/honey-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  width: -webkit-fill-available;
  overflow: auto;
}


.login-google {
  font-weight: bold;
  color: rgb(0, 0, 0);
  position: relative;
  border-radius: 45px;
  bottom: 0px;
  background: #d2d2d2 !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  width: 100%;
  height:45px;
  margin-top: 20px;
  
}

.login-facebook {
  font-weight: bold;
  color: #FFF;
  position: relative;
  border-radius: 45px;
  bottom: 0px;
  background: #0073d1 !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  width: 100%;
  height:45px;
  margin-top: 20px;
}

.login-apple {
  font-weight: bold;
  color: #FFF;
  position: relative;
  border-radius: 45px;
  margin-bottom: 100px;
  background: #000000 !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  width: 100%;
  height:45px;
  margin-top: 20px;
}